body {
    margin: 0;
    padding: 0;
}

.content-container {
    width: 800px;
    position: relative;
    margin: 0 auto;
}

header {
    margin: 0 auto;
    position: relative;
    text-align: center;
    /*height: 5em;*/
}

header h1 {
    margin: 0;
    padding: .5em;
}

nav {
    margin: 0;
    padding: 0;
}

#userbar {
    top: 0;
    width: 100%;
    display: none;
}

#main-menu {
    margin: 0;
    padding: 0;
    display: block;
}

#main {
    margin: 0 auto;
    padding: 1em;
    width: 90%;
}

footer {
    clear: both;
}