        body {
            font-family: Arial;
        }

        header {
            text-shadow: 0 1px #000;
            background: #282828;
            color: #fff;
        }

        #main {
            text-align: left;
        }

        footer {
            text-align: center;
            font-size: small;
        }

        .content-container {
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            width: 100%;
        }

        br {
            clear: left;
        }

        nav {
            text-align: center;
            background-color: #000;
        }

        #userbar {
            font-size: smaller;
        }

        #main-menu {
            background-color: #282828;
            font-size: large;
        }

        nav li {
            margin: .2em .5em;
            display: inline-block;
        }

        nav a {
            display: block;
            padding: .5em .2em;
            text-align: center;
            color: #fff; 
            text-decoration: none;
            border: 1px solid transparent;
        }

        nav a:hover {
            color: #808080;
        }

        #featured-listing {
            margin: 0 auto;
            padding: 0;
            width: 800px;
        }

        #featured-listing li {
            margin: 0 auto;
            padding: 0;
            width: 512px;
            height: 400px;
            display: inline-block;
            background-color: black;
            position: relative;
        }

        #featured-listing a {
            display: block;
            height: 100%;
            background: url(http://www.saizproperties.com/Images/house05.jpg) no-repeat;
        }
        
        .listing-info {
            background-color: #282828;
            color: white;
            position: absolute;
            bottom: 0;
            opacity: 0.9;
            font-size: small;
        }

        .listing-info div {
            display: inline-block;
            width: 254px;
        }

        .listing-info div:first-child {
            width: 254px;
            /*border-right: 1px solid white;*/
        }

        .listing-info span {
            display: block;
            padding: .3em;
        }